In [1]:
import pymysql
import sqlalchemy as alch
from getpass import getpass
import pandas as pd

In [2]:
password1 = getpass('contraseña')

contraseña ········

In [4]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# Datos de conexión a la base de datos
password = password1
database_name = 'Powerlifting'

# Conexión a MySQL
conn = pymysql.connect(
    host='localhost',
    user='root',
    password=password,
)

# Creación de un cursor
cursor = conn.cursor()

# Crear base de datos si no existe
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")

# Seleccionar la base de datos
cursor.execute(f"USE {database_name}")

# Definir la cadena de conexión para SQLAlchemy
connection_string = f"mysql+pymysql://root:{password}@localhost/{database_name}"

# Crear motor de SQLAlchemy
engine = create_engine(connection_string)

# Definir consultas para crear tablas
create_Country_table = """
CREATE TABLE IF NOT EXISTS Country (
    Country_id INT AUTO_INCREMENT PRIMARY KEY,
    Country VARCHAR(50) UNIQUE
)
"""

create_City_table = """
CREATE TABLE IF NOT EXISTS City (
    City_id INT AUTO_INCREMENT PRIMARY KEY,
    City VARCHAR(100),
    Country_id INT,
    FOREIGN KEY (Country_id) REFERENCES Country(Country_id)
)
"""

create_Brand_table = """
CREATE TABLE IF NOT EXISTS Brand (
    Brand_id INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(100),
    Amazon_Rating FLOAT
)
"""

create_Equipment_table = """
CREATE TABLE IF NOT EXISTS Equipment (
    Equipment_id INT AUTO_INCREMENT PRIMARY KEY,
    Equipment VARCHAR(100)
)
"""

create_Powerlifting_table = """
CREATE TABLE IF NOT EXISTS Powerlifting (
    Id INT AUTO_INCREMENT PRIMARY KEY,
    Date INT,
    City_id INT,
    FOREIGN KEY (City_id) REFERENCES City(City_id),
    Sex VARCHAR(5),
    Equipment_id INT,
    FOREIGN KEY (Equipment_id) REFERENCES Equipment(Equipment_id),
    Brand_id INT,
    FOREIGN KEY (Brand_id) REFERENCES Brand(Brand_id),
    Age FLOAT,
    BodyweightKg FLOAT,
    Best3SquatKg FLOAT,
    Best3BenchKg FLOAT,
    Best3DeadliftKg FLOAT,
    TotalKg FLOAT
)
"""

# Ejecutar las consultas para crear las tablas
cursor.execute(create_Country_table)
cursor.execute(create_City_table)
cursor.execute(create_Brand_table)
cursor.execute(create_Equipment_table)
cursor.execute(create_Powerlifting_table)

# Leer los archivos Excel y CSV
country_df = pd.read_excel('Country.xlsx')
city_df = pd.read_excel('City.xlsx')
brand_df = pd.read_excel('Equipment_brand.xlsx')
equipment_df = pd.read_excel('Equipment_info.xlsx')
powerlifting_df = pd.read_csv('debloated_powerlifting.csv')

# Insertar los DataFrames en las tablas de la base de datos

country_df.to_sql(name='Country', con=engine, if_exists='append', index=False)
city_df.to_sql(name='City', con=engine, if_exists='append', index=False)
brand_df.to_sql(name='Brand', con=engine, if_exists='append', index=False)
equipment_df.to_sql(name='Equipment', con=engine, if_exists='append', index=False)
powerlifting_df.to_sql(name='Powerlifting', con=engine, if_exists='append', index=False)

# Cerrar conexión y cursor
cursor.close()
conn.close()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11968\639240222.py:99: UserWarning: The provided table name 'Country' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  country_df.to_sql(name='Country', con=engine, if_exists='append', index=False)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_11968\639240222.py:100: UserWarning: The provided table name 'City' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  city_df.to_sql(name='City', con=engine, if_exists='append', index=False)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_11968\639240222.py:101: UserWarning: The provided table name 'Brand' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  brand_df.to_sql(name='Brand', con=engine, if_exists='append', index=False)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_11968\639240222.py:102: UserWarning: The provided table name 'Equipment' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  equipment_df.to_sql(name='Equipment', con=engine, if_exists='append', index=False)
C:\Users\Usuario\AppData\Local\Temp\ipykernel_11968\639240222.py:103: UserWarning: The provided table name 'Powerlifting' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  powerlifting_df.to_sql(name='Powerlifting', con=engine, if_exists='append', index=False)